<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
        </div>
        <div class="modal-body">
            <form action="/api/user/login" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                    <input type="text" required class="form-control" name ="userName" id="userName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
       
      </div>
    </div>
  </div> 