<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SR-Id</th>
        <th scope="col">Building</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><a href="#">Mark</a></td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>

      </tr>
     
    </tbody>
  </table>