<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SR-Id</th>
        <th scope="col">Building</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        
        
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < sr.length; i++) { %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><a href="<%= '/view/'+sr[i].id %>"><%= sr[i].id.substring(0,7)+'..' %></a></td>
          <td><%= sr[i].description %></td>

        </tr>
     <% } %>
     
    </tbody>
  </table>